<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
<menuitem
        id="menu_root_financial_accounting"
        name="Financial Accounting"
        web_icon="ssi_financial_accounting,static/description/icon.png"
    />

<menuitem
        id="menu_account_receivable"
        name="Account Receivable"
        parent="menu_root_financial_accounting"
        sequence="10"
    />

<menuitem
        id="customer_invoice_menu"
        name="Invoices"
        parent="menu_account_receivable"
        action="account.action_move_out_invoice_type"
        groups="ssi_financial_accounting.invoice_viewer_group"
        sequence="1"
    />

<menuitem
        id="credit_note_menu"
        name="Credit Notes"
        parent="menu_account_receivable"
        action="account.action_move_out_refund_type"
        groups="ssi_financial_accounting.credit_note_viewer_group"
        sequence="2"
    />

<menuitem
        id="sale_receipt_menu"
        name="Receipts"
        parent="menu_account_receivable"
        action="account.action_move_out_receipt_type"
        groups="ssi_financial_accounting.sale_receipt_viewer_group"
        sequence="3"
    />

<menuitem
        id="account_payments_receivable_menu"
        name="Customer Payments"
        parent="menu_account_receivable"
        action="ssi_financial_accounting.action_customer_payment"
        groups="ssi_financial_accounting.customer_payment_viewer_group"
        sequence="4"
    />

<menuitem
        id="menu_account_payable"
        name="Account Payable"
        parent="menu_root_financial_accounting"
        sequence="20"
    />

<menuitem
        id="vendor_bill_menu"
        name="Bills"
        parent="menu_account_payable"
        action="account.action_move_in_invoice_type"
        groups="ssi_financial_accounting.bill_viewer_group"
        sequence="1"
    />

<menuitem
        id="refund_bill_menu"
        name="Refunds"
        parent="menu_account_payable"
        action="account.action_move_in_refund_type"
        groups="ssi_financial_accounting.refund_viewer_group"
        sequence="2"
    />

<menuitem
        id="purchase_receipt_menu"
        name="Receipts"
        parent="menu_account_payable"
        action="account.action_move_in_receipt_type"
        groups="ssi_financial_accounting.purchase_receipt_viewer_group"
        sequence="3"
    />

<menuitem
        id="account_payments_payable_menu"
        name="Vendor Payments"
        parent="menu_account_payable"
        action="ssi_financial_accounting.action_vendor_payment"
        groups="ssi_financial_accounting.vendor_payment_viewer_group"
        sequence="4"
    />

<menuitem
        id="menu_bank_cash"
        name="Bank &amp; Cash"
        parent="menu_root_financial_accounting"
        sequence="30"
    />

<menuitem
        id="account_bank_statement_menu"
        name="Bank Statements"
        parent="menu_bank_cash"
        action="account.action_bank_statement_tree"
        groups="ssi_financial_accounting.bank_statement_viewer_group"
        sequence="1"
    />

<menuitem
        id="account_cash_register_menu"
        name="Cash Registers"
        parent="menu_bank_cash"
        action="account.action_view_bank_statement_tree"
        groups="ssi_financial_accounting.cash_register_viewer_group"
        sequence="2"
    />

<menuitem
        id="menu_fixed_asset"
        name="Fixed Asset"
        parent="menu_root_financial_accounting"
        sequence="40"
    />

<menuitem
        id="menu_equity"
        name="Equity"
        parent="menu_root_financial_accounting"
        sequence="50"
    />

<menuitem
        id="menu_periodic_processing"
        name="Periodic Processing"
        parent="menu_root_financial_accounting"
        sequence="60"
    />

<menuitem
        id="menu_accounting_entry"
        name="Accounting Entry"
        parent="menu_root_financial_accounting"
        sequence="90"
    />

<menuitem
        id="account_move_menu"
        name="Journal Entries"
        parent="menu_accounting_entry"
        groups="journal_entry_viewer_group"
        action="account.action_move_journal_line"
        sequence="10"
    />

<menuitem
        id="account_move_line_menu"
        name="Journal Items"
        parent="menu_accounting_entry"
        groups="journal_entry_viewer_group"
        action="account.action_account_moves_all"
        sequence="10"
    />

<menuitem
        id="menu_financial_accounting_report"
        name="Report"
        parent="menu_root_financial_accounting"
        sequence="98"
    />
<menuitem
        id="menu_financial_accounting_configuration"
        name="Configuration"
        parent="menu_root_financial_accounting"
        sequence="99"
    />

<menuitem
        id="menu_account_configuration"
        name="Account"
        parent="menu_financial_accounting_configuration"
        sequence="10"
    />

<menuitem
        id="account_account_type_menu"
        name="Odoo Types"
        parent="menu_account_configuration"
        groups="account_account_type_group"
        action="account.action_account_type_form"
        sequence="10"
    />

<record id="account_tag_action" model="ir.actions.act_window">
    <field name="name">Account Tags</field>
    <field name="type">ir.actions.act_window</field>
    <field name="res_model">account.account.tag</field>
    <field name="view_mode">tree,form</field>
    <field name="search_view_id" ref="account.account_tag_view_search" />
</record>

<menuitem
        id="account_account_tag_menu"
        name="Account Tags"
        parent="menu_account_configuration"
        groups="account_account_tag_group"
        action="account_tag_action"
        sequence="20"
    />

<menuitem
        id="account_account_menu"
        name="Accounts"
        parent="menu_account_configuration"
        groups="account_account_group"
        action="account.action_account_form"
        sequence="30"
    />

<menuitem
        id="menu_journal_configuration"
        name="Journal"
        parent="menu_financial_accounting_configuration"
        sequence="20"
    />

<menuitem
        id="account_journal_group_menu"
        name="Journal Groups"
        parent="menu_journal_configuration"
        groups="account_journal_group_group"
        action="account.action_account_journal_group_list"
        sequence="10"
    />

<menuitem
        id="account_journal_menu"
        name="Journals"
        parent="menu_journal_configuration"
        groups="account_journal_group"
        action="account.action_account_journal_form"
        sequence="20"
    />

<menuitem
        id="menu_tax_configuration"
        name="Tax"
        parent="menu_financial_accounting_configuration"
        sequence="30"
    />

<menuitem
        id="account_tax_menu"
        name="Taxes"
        parent="menu_tax_configuration"
        groups="account_tax_group"
        action="account.action_tax_form"
        sequence="10"
    />

<menuitem
        id="account_fiscal_position_menu"
        name="Fiscal Positions"
        parent="menu_tax_configuration"
        groups="account_fiscal_position_group"
        action="account.action_account_fiscal_position_form"
        sequence="20"
    />

<menuitem
        id="menu_fixed_asset_configuration"
        name="Fixed Asset"
        parent="menu_financial_accounting_configuration"
        sequence="30"
    />

<menuitem
        id="menu_equity_configuration"
        name="Equity"
        parent="menu_financial_accounting_configuration"
        sequence="31"
    />

<menuitem
        id="menu_mis_report_configuration"
        name="MIS Report"
        parent="menu_financial_accounting_configuration"
        sequence="40"
    />

<menuitem
        id="menu_misc_configuration"
        name="Miscellaneous"
        parent="menu_financial_accounting_configuration"
        sequence="99"
    />

<menuitem
        id="res_currency_menu"
        name="Currencies"
        parent="menu_misc_configuration"
        groups="res_currency_group"
        action="base.action_currency_form"
        sequence="10"
    />

<menuitem
        id="general_ledger_report_wizard_menu"
        name="General Ledger"
        parent="menu_financial_accounting_report"
        action="account_financial_report.action_general_ledger_wizard"
        sequence="1"
        groups="general_ledger_group"
    />

<menuitem
        id="trial_balance_wizard_menu"
        name="Trial Balance"
        parent="menu_financial_accounting_report"
        action="account_financial_report.action_trial_balance_wizard"
        sequence="2"
        groups="trial_balance_group"
    />

<menuitem
        id="aged_partner_balance_wizard_menu"
        name="Aged Partner Balance"
        parent="menu_financial_accounting_report"
        action="account_financial_report.action_aged_partner_balance_wizard"
        sequence="3"
        groups="aged_partner_balance_group"
    />

<menuitem
        id="res_config_settings_menu"
        name="Settings"
        parent="menu_financial_accounting_configuration"
        sequence="0"
        action="res_config_settings_action"
    />

<menuitem
        id="mis_report_menu"
        parent="menu_mis_report_configuration"
        name="Templates"
        action="mis_builder.mis_report_view_action"
        sequence="1"
        groups="mis_report_template_group"
    />

<menuitem
        id="mis_report_style_menu"
        parent="menu_mis_report_configuration"
        name="Styles"
        action="mis_builder.mis_report_style_view_action"
        sequence="2"
        groups="mis_report_style_group"
    />

<menuitem
        id="mis_report_instance_menu"
        name="MIS Reports"
        parent="menu_financial_accounting_report"
        sequence="99"
        action="mis_builder.mis_report_instance_view_action"
        groups="mis_report_group"
    />


<menuitem
        id="account_type_menu"
        name="Account Types"
        parent="ssi_financial_accounting.menu_account_configuration"
        action="account_type_action"
        groups="account_type_group"
    />

<menuitem
        id="cash_flow_type_menu"
        name="Cash Flow Types"
        parent="ssi_financial_accounting.menu_account_configuration"
        action="cash_flow_type_action"
        groups="cash_flow_type_group"
    />

<menuitem
        id="bank_statement_import_format_menu"
        parent="menu_misc_configuration"
        name="Bank Statement Import Format"
        action="account_statement_import_txt_xlsx.action_statement_import_sheet_report_mappings"
        sequence="100"
        groups="bank_statement_import_format_group"
    />

<!-- Hide menu -->
<record id="account.menu_finance" model="ir.ui.menu">
  <field name="groups_id" eval="[(6, 0, [ref('original_accounting_group')])]" />
</record>



</odoo>
